* {
  margin: 0 0;
  padding: 0 0;
  font-family: "Caveat", cursive, monospace;
  box-sizing: border-box;
  color: #310080;
}
body {
  color: black;
  height: 100vh;
  width: 100vw;

  background-image: linear-gradient(
    90deg,
    #8b67c5,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  background-size: 200%;
  background-position: right;

  animation: Animation 10s ease infinite alternate;
}
@keyframes Animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.container {
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: solid 1px #000;
  margin: 0 auto;
  box-shadow: black 5px;
  border-radius: 10px;
}
#title {
  text-decoration: underline solid #310080;
  font-family: "Caveat", cursive, monospace;
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
  background-image: linear-gradient(
    90deg,
    #310080,
    #cc0590,
    #f81f51,
    #f85013,
    #fda90d,
    #f8f80d
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  padding: 2% 0;
  /* animation: title-animation 10s ease infinite alternate; */
  background-size: 400%;
}

input {
  border: 0;
  background-color: transparent;
  border-bottom: solid 1px #000;
}
input:focus {
  border: 0;
  outline: 0;
  border-bottom: solid 1px #000;
}
.io,
.conexplain {
  text-align: center;
}
select {
  border: 0;
  background-color: transparent;
}

select {
  display: inline-block;
}
#conFrom {
  margin-bottom: 1vh;
}
.io {
  margin-bottom: 4vh;
}
.io > p {
  text-align: initial;
}
#webExp {
  font-weight: 520;
}
#title {
  font-weight: bold;
}
